//Will not work I tried using an underscore for the name also it 
//does not work either
//@use 'css/navfoot';
$main_color1: #03045e;
$main_color2: #0077b6;
$main_color3: #00b4d8;
$main_color4: #90e0ef;
$main_color5: #FF7C37;
@keyframes headingAnim{
    from{
        transform: translateX(-400px) translateY(-200px) rotateZ(-90deg);
    }
    to{
        transform: translateX(0px) translateY(0) rotateZ(0deg);
    }
}
h2[class='display-4']{
    
    width: fit-content;
    color: $main_color5;
    margin: 2rem;
    
}
form{
    margin: 10%;
}
label{
    color: $main_color2;
}
.main_btn{
    background-color: $main_color2;
    color: white;
}


